repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
        additional_dependencies:
          - "dynaconf>=3.2.12"
          - "pydantic>=2.12.4"
          - "pyheos>=1.0.6"
          - "pylast>=6.0.0"
          - "ssdp>=1.3.1"
          - "faker>=37.12.0"
          - "pytest>=9.0.1"
          - "pytest-asyncio>=1.3.0"
          - "pytest-mock>=3.15.1"
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.1
    hooks:
      - id: bandit
        args: [ -c, pyproject.toml ]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
